{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<hr>
<h4> ax<sup>2</sup>+bx+c=0 </h4>
<form method="post">
    <div><label class="form-label">a : <input type="text" name="value_a" class="form-control"></label></div>
    <div><label class="form-label">b : <input type="text" name="value_b" class="form-control"></label></div>
    <div><label class="form-label">c : <input type="text" name="value_c" class="form-control"></label></div>
    <span>{{ error }}</span>
    <button type="reset" class="btn btn-warning">Очистить</button>
    <button type="submit" class="btn btn-success">Решить</button>
    {% if data %}
        <hr>
        <div>a = {{ coefficient['a'] }}, b = {{ coefficient['b'] }}, c = {{ coefficient['c'] }}</div>
        <div> Результат: <br>x<sub>1</sub> = {{ data[0] }}, <br>x<sub>2</sub> = {{ data[1] }}</div>
    {% endif %}
    {% if x %}
        <hr>
        <div>a = {{ coefficient['a'] }}, b = {{ coefficient['b'] }}, c = {{ coefficient['c'] }}</div>
        <div> Результат: x = {{ x }}</div>
    {% endif %}
    {% if msg %}
        <hr>
        {% if coefficient %}
            <div>a = {{ coefficient['a'] }}, b = {{ coefficient['b'] }}, c = {{ coefficient['c'] }}</div>
        {% endif %}
        <div> Результат: {{ msg }}</div>
    {% endif %}
</form>
{% endblock %}
{% block scripts %}{% endblock %}
